@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom, #0b0b10, #14141f);
  color: white;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #3bc9ff;
  border-radius: 4px;
}
